* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

html,
body {
    font-family: "Muli", Helvetica, sans-serif;
}

/* Style for nav bar */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: auto;
    background-color: #eec054;
    padding-left: 2rem;
    padding-right: 4rem;
}

#logo { 
    font-family: "Muli", Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.nav-bar form {
    display: flex;
}

.nav-bar button {
    padding: 5px 40px;
    font-size: 0.76rem;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 0.5rem;
}

.nav-bar input {
    border: none;
    padding: 2px;
}

/* Screen break styling - NAV BAR */

@media only screen and (max-width: 470px) {
    .nav-bar {
        height: auto;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    #logo {
        padding: 0.5rem;
        margin-left: 0;
    }

    .nav-bar form {
        display: none;
    }
}

/* Style for all filter sections */

.filter-section {
    width: 20%;
    background-color: #fff;
    height: 100%;
    position: fixed;
}

/* Style for all items in city sections */
.city-section {
    width: 80%;
    height: auto;
    float: right;
    background-color: #FFF8E7;
}

.city-section h2 {
    margin-bottom: 1rem;    
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1rem;
    background-color: #FFEFC9;
    border-top: 1px solid #eec054;
    border-bottom: 1px solid #eec054;
}

.cafe-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cafe-card {
    width: 22%;
    height: 10rem;
    text-decoration: none;
    color: #fff;
    margin-bottom: 1rem;
    margin: 5px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.cafe-card img {
    width: 100%;
    height: 10rem;
    overflow: hidden;
    display: block;
    border-radius: 5px;
    position: absolute;
    object-fit: cover;
}

.cafe-card h4 {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 98px;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
    font-size: 1rem;
    width: 100%
}

.cafe-card p {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 67%;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
    font-size: 0.7rem;
    width: 100%
}

/* Screen break styling - CITY AND FILTER SECTIONS */
@media only screen and (max-width: 470px) { 
    .city-section { /* making city section take up full space */
        width: 100%;
        float: none;
        padding-top: 0.5rem;
        margin: 0 auto;
    }
    .filter-section { /* removing filter section from display*/
        display: none;
    }
    .cafe-section {
        justify-content: center;
    }
    .cafe-card h4 {
        font-size: 1.2rem;
    }
    .cafe-card p {
        font-size: 0.9rem;
        top: 69.5%;
    }
}

/* Screen break styling - CAFE CARD BLOCK NUMBERS */
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .cafe-card {
        width: 32%;
    }

}

@media only screen and (max-width: 870px) {
    .cafe-card {
        width: 45%;
    }

}

@media only screen and (max-width: 500px) {
    .cafe-card {
        width: 90%;
    }
}

/* Style for individual items in city section #barcelona */


#barcelona .cafe3 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/e568c6b8ef7886e9fafd604efd1590a6/aee52f97);
    background-size: cover;
    border-radius: 10px;
}

#barcelona .cafe4 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/10a551a6b32d3de72247f89f14579f3f/5c254f68);
    background-size: cover;
    border-radius: 10px;
}

#barcelona .cafe5 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/fa619e3aa723e8cc9a25abb01927e6bd/4e05a400);
    background-size: cover;
    border-radius: 10px;
}

#barcelona .cafe6 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/d34f85687af62c8e2e3f45169f703ebe/e530d145);
    background-size: cover;
    border-radius: 10px;
}

#barcelona .cafe7 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/1fac29391d1a00e16def620839db8223/6c0b836c);
    background-size: cover;
    border-radius: 10px;
}

#barcelona .cafe8 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/3c8fdd31679e9289789ff9e6f381e659/e56d7e66);
    background-size: cover;
    border-radius: 10px;
}

/* Style for individual items in city section #london */

#london .cafe1 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/9d1a9debabd6a1dc37c271fa8305760c/82745542);
    background-size: cover;
    border-radius: 10px;
}

#london .cafe2 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/b7e3966938cc837943ea4cdc02ca0bbb/bbfef8ab);
    background-size: cover;
    border-radius: 10px;
}

#london .cafe3 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/a4e32b3a4c99cc87de59a9ef99192dc2/2ab2fc21);
    background-size: cover;
    border-radius: 10px;
}

#london .cafe4 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/e61378caf858581d4a69785387951656/140ec6b1);
    background-size: cover;
    border-radius: 10px;
}

#london .cafe5 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/320ced9dc6c2585ced26e98ab5c4a32f/4f5db862);
    background-size: cover;
    border-radius: 10px;
}

#london .cafe6 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/ff19975b1ee29fb781a4344c376b4b24/ee6ecddc);
    background-size: cover;
    border-radius: 10px;
}

#london .cafe7 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/a614bc6fb766f285fbd3195a2c9ac6b1/3c2c8187);
    background-size: cover;
    border-radius: 10px;
}

#london .cafe8 {
    background-image: url(https://dl.airtable.com/.attachmentThumbnails/cc14b9f946843f94b4be7ff0c6930ca1/2a2e2e97);
    background-size: cover;
    border-radius: 10px;
}
